@font-face {
  font-family: 'Univers';
  src: url('./fonts/Univers-UltraCondensed.woff2') format('woff2'),
       url('./fonts/Univers-UltraCondensed.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Microsoft';
  src: url('./fonts/MicrosoftSansSerif.woff') format('woff2'),
       url('./fonts/MicrosoftSansSerif.woff2') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Seaweed';
  src: url('/fonts/SeaweedSans-Regular.woff2') format('woff2'),
       url('/fonts/SeaweedSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sniglet';
  src: url('/fonts/sniglet_regular-webfont.woff2') format('woff2'),
       url('/fonts/sniglet_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Ensure the container doesn't create extra scrollbars */
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}



/* Remove any conflicting overflow properties */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.footer {
  position:relative;
  float: right;
  color:white; 
  font-family: 'Microsoft', sans-serif;
  font-size: 3rem;
  padding: 20px;
}

